*{
    margin: 0;
    padding: 0;
    border: 0;
}

.container{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #cc4949;
    color: gray;
}

li.completed {
    text-decoration: line-through;
    opacity: 0.7;
}

li button {
    background-color: #d32f2f;
    border: none;
    padding: 5px;
    color: white;
    border-radius: 5px;
    cursor: pointer
}

li button:hover {
    background-color: #b71c1c;
}