.red, .green, .blue {
  display: block;
  width: 100px;
  height: 100px;
  color: white;
  line-height: 100px;
  text-align: center;
  position: absolute;
}

.red { 
  background: red;
  z-index: 3;
  top: 20%;
  left: 20%;
}

.green { 
  background: green;
  z-index: 2;
  top: 35%;
  left: 35%;
}

.blue { 
  background: blue;
  z-index: 2;
}
