body, html{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
}

.container{
    background: linear-gradient(135deg, #8a2be2, #4169e1 );
    display: flex;
    align-items: center;
    height: 100%;
}

.content{
    text-align: center;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 2rem;
}

.logo{
    width: 150px;
    height: 150px;
}